body{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  
}

.masterTimer{
  border: none;
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(107, 106, 106) ;
  text-shadow: 2px 2px 2px hsla(0 , 0%, 0%, 0.75);
  margin-bottom: 25px;

}
.segment{
  border: none;
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(220, 220, 220) ;
  text-shadow: 2px 2px 2px hsla(0 , 0%, 0%, 0.75);
  margin-bottom: 25px;

}
.stopWatch{
  margin: 50px;
  display:flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 50px;
  background-color: grey;
  padding: 30px;
}

.display{
  display: flex;
  flex-direction: column;
  align-items: center;      /* vertical alignment */
  justify-content: center;  /* horizontal alignment */
}

.controls button{
  height: 100px;
  width: 100px;
 font-size: 1.5rem;
 font-weight: 400;
 padding: 10px 20px;
 margin: 5px;
 min-width: 125;
 border: none;
 border-radius: 50px;
 cursor: pointer;
 color: black;
 transition: background-color 0.5s ease ;

}

.resetLogList{ 
  gap: 10px;
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;      /* vertical alignment */
  justify-content: center;
}

.resetItem{
   display: flex;
  flex-direction: row;
  align-items: center;      /* vertical alignment */
  justify-content: center;
  gap: 20px 5px;

}